a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}
#topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
#logo {
    align-self: center;
}
#logo > a,
li > a {
    color: white;
}
#topBar > h1 > a:hover {
    text-decoration: none;
}
.languageSelection {
    display: flex;
    flex-direction: row;
}
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gold;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navMenu > a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
/*Aqui o principal*/
#infoHomepage {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size: xx-large;
}
p {
    text-align: center;
    font-size: larger;
    width: 70%;
}
/*Aqui o footer*/
body {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    background-color: black;
}
.content {
    background-color: white;
}
#fotomain {
    width: max-content;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 15px;
    height: 50px;
    max-width: 1000px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footernav {
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}
.infoFooter {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-between;
}
.svg {
    margin-right: 5px;
}
.productsTable {
    padding-top: 2%;
    padding-bottom: 10%;
}
.productsRow {
    margin: 100px;
}

.tda {
    width: 25%;
    background-color: gold;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
}

.tda > img {
    max-width: 100%;
}

.tdb {
    width: 20%;
    background-color: gold;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
}

.tdb > img {
    max-width: 100%;
}
